h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-text-color: #ffffff;
  --accent-color: #2196f3;
  --primary-bg-color: #e5e5e5;
  --secondary-bg-color: #f5f4fa;
  --footer-bg-color: #2f303a;
  --footer-text-color: rgba(255, 255, 255, 0.6);
  --border-color: #ececec;
  --secondary-border-color: #afb1b8;
}

body {
  color: var(--primary-text-color);
  font-family: 'Roboto', 'Arial', 'Helvetica', sans-serif;
  letter-spacing: 0.03em;
}

.list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  text-decoration: none;
}

.current:active,
.current:visited {
  color: var(--accent-color);
}

.item-header {
  border-bottom: 1px solid var(--border-color);
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.wrapper {
  display: flex;
}

/* header */

.wrapper-nav {
  display: flex;
  align-self: center;
}

.wrapper-nav li:not(:last-child) {
  margin-right: 50px;
}

.wrapper-contacts {
  display: flex;
  align-self: center;
  margin-left: auto;
}

.contacts-links {
  display: flex;
  align-items: center;
}

.header-mail {
  fill: currentColor;
  margin-right: 10px;
  cursor: pointer;
}

.header-tel {
  fill: currentColor;
  margin-right: 10px;
  cursor: pointer;
}
.header-mail:hover,
.header-tel:hover,
.header-mail:focus,
.header-tel:focus {
  fill: currentColor;
}

.wrapper-contacts li:not(:last-child) {
  margin-right: 50px;
}

.logo-header {
  display: inline-block;
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--primary-text-color);
  padding-top: 25px;
  padding-bottom: 25px;
  margin-right: 93px;
}

.navigation {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  padding-top: 32px;
  padding-bottom: 32px;
}

.navigation:hover,
.navigation:focus {
  color: var(--accent-color);
}

.reference {
  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  padding-top: 32px;
  padding-bottom: 32px;
}

.reference:hover,
.reference:focus {
  color: var(--accent-color);
}

.accent-color {
  color: var(--accent-color);
}

/* hero */

.hero {
  width: 1600px;
  background-color: var(--footer-bg-color);
  background-repeat: no-repeat;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../image/hero-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  margin-left: auto;
  margin-right: auto;
}

.hero-title {
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--accent-text-color);
}

.hero-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  font-family: inherit;
  padding: 10px 32px;
  border-radius: 4px;
  border: 2px solid transparent;
  cursor: pointer;
  color: var(--accent-text-color);
  background-color: var(--accent-color);
}

/* our advantages */

.wrapper-icon {
  display: flex;
  width: 270px;
  height: 120px;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  margin-bottom: 30px;
  background-color: var(--secondary-bg-color);
  /* filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)); */
}

.advantage {
  width: calc((100% - 90px) / 4);
  margin-right: 30px;
}

.advantage:nth-child(4n) {
  margin-right: 0;
}

.title-advantages.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.advantages-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.advantages-text {
  color: var(--secondary-text-color);
  font-size: 14px;
  line-height: 1.71;
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
}

/* what we do */

.trade {
  padding-top: 0;
}

.study {
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
}

.study:nth-child(3n) {
  margin-right: 0;
}
/* our team */

.team {
  background-color: var(--secondary-bg-color);
}
.team-member {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  margin-bottom: 10px;
}

.team-position {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  margin-bottom: 16px;
  color: var(--secondary-text-color);
}

.card {
  width: calc((100% - 90px) / 4);
  margin-right: 30px;
  background-color: var(--accent-text-color);
  text-align: center;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.card:nth-child(4n) {
  margin-right: 0;
}

.team-card {
  padding-top: 30px;
  padding-bottom: 30px;
}
.social-network-icons {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.social-network-icon {
  display: flex;
  width: 44px;
  height: 44px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
}

.social-network-icon:hover,
.social-network-icon:focus {
  background-color: var(--accent-color);
}

.social-network-icon:hover .social-icon,
.social-network-icon:focus .social-icon {
  --color4: #ffffff;
}

/* Regular Customers */

.customers-list {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.customer-card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid var(--secondary-border-color);
  border-radius: 3px;
  cursor: pointer;
}

.customer-card:hover,
.customer-card:focus {
  border: 1px solid var(--accent-color);
}

.customer-card:hover .customers-icon,
.customer-card:focus .customers-icon {
  --color5: var(--accent-color);
}

/* portfolio */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.examples-works {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.examples-works li + li {
  margin-left: 8px;
}

.examples {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: -30px;
}

.buttons {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  cursor: pointer;
  font-family: inherit;
  border: 2px solid transparent;
  border-radius: 4px;
  padding: 6px 22px;
}

.buttons:hover,
.buttons:focus {
  color: var(--accent-text-color);
  background-color: var(--accent-color);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.examples-title {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  padding-bottom: 4px;
}
.example-work {
  color: var(--secondary-text-color);
  font-size: 16px;
  line-height: 1.88;
}

.card-portfolio {
  width: 370px;
  text-align: center;
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
  border: 1px solid var(--border-color);
  margin-bottom: 30px;
}

.card-portfolio:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.examples-buttons {
  border-radius: 4px;
}

.card-portfolio div {
  text-align: left;
  padding: 20px 24px;
  border-top: none;
}

.card-portfolio:nth-child(3n) {
  margin-right: 0;
}

.card-portfolio img {
  max-width: 100%;
}

/* footer */

.footer {
  background-color: var(--footer-bg-color);
  padding-bottom: 60px;
  padding-top: 60px;
}

.footer-container {
  display: flex;
}

.footer-container-logo {
  margin-right: 70px;
}

.subscribe {
  margin-top: 10px;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--accent-text-color);
}

.social-footer-icon {
  display: flex;
  width: 44px;
  height: 44px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  --color4: #ffffff;
  cursor: pointer;
}

.social-footer-icon:hover,
.social-footer-icon:focus {
  background-color: var(--accent-color);
}

.logo-footer {
  display: inline-block;
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent-text-color);
  margin-bottom: 20px;
}

.footer-contacts li:not(:last-child) {
  margin-bottom: 9px;
}

.address,
.mail,
.phone {
  color: var(--accent-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
  text-decoration: none;
}

.mail,
.phone {
  color: var(--footer-text-color);
}

.mail {
  margin: 9px 0;
}

.address:hover,
.mail:hover,
.phone:hover,
.address:focus,
.mail:focus,
.phone:focus {
  color: var(--accent-color);
}
